<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.5/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="../app.css">
    <title>Create a new account</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-xl-3 col-lg-6 col-md-8 col-sm-12 col-xs-8 mt-5">
                    <h1 class="display-5 mt-5">{{title}}</h1>
                    <form @submit.prevent="register">
                        <input 
                            v-model="registerPayload.username"
                            class="form-control mt-3" 
                            type="text" 
                            placeholder="Username" 
                            aria-label="default input example" required>
                        <input 
                            v-model="registerPayload.password"
                            class="form-control mt-2" 
                            type="password" 
                            placeholder="Password"
                            aria-label="default input example" required>
                        <input 
                            v-model="registerPayload.passwordIsMatched"
                            class="form-control mt-2" 
                            type="password" 
                            placeholder="Confirm password"
                            aria-label="default input example" required>

                        <div class="uk-alert-danger d-flex justify-content-between align-items-center p-2 m-2 pointer" uk-alert v-if="registerPayload.isError">
                            <h6 class="text-danger p-0 m-0">{{registerPayload.message}}</h6>
                            <span uk-icon="icon: close" @click="registerPayload.isError = false"></span>
                        </div>

                        <!-- Button goes here -->
                        <div class="d-grid gap-2 mt-2">
                            <button type="submit" class="uk-button uk-button-primary">Create</button>
                        </div>
                        <div class="d-grid gap-2 mt-2">
                            <button type="button" class="uk-button uk-button-default" @click="redirectToLogin">Sign in instead</button>
                        </div>
                   </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.5/dist/js/uikit-icons.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                title: 'Sign up',
                baseURL: 'https://www.diary-api.somee.com/',
                registerPayload: {
                    username: null,
                    password: null,
                    isError: false,
                    passwordIsMatched: null,
                    message: null,
                },
                user: {} 
            },
            methods: {
                redirectToLogin: function() {
                    location.href = '../index.html';
                },
                register: async function() {
                    if(this.registerPayload.password === this.registerPayload.passwordIsMatched) {
                    let payload = {
                        username: this.registerPayload.username,
                        password: this.registerPayload.password,
                        role: "allow",
                        firstName: "allow",
                        lastName: "allow"
                    }
                   await axios.post(`${this.baseURL}api/account/register`, payload)
                        .then(res =>  location.href = '../index.html')
                        .catch(err => {
                            console.log(err.response);
                            if(err.response.status === 400) {
                                this.registerPayload = {
                                    isError: true,
                                    message: err.response.data.message
                                }
                            }
                        });
                    } else {
                        this.registerPayload = {
                            ...null,
                            isError: true,
                            message: "Password does not match"
                        }
                    }
                }
            },
            mounted: function() {
                if(localStorage.diaryAppWebTech) location.href = 'profile.html';
            }
        })
    </script>
</body>
</html>